html {
	overflow-x: hidden;
}

body {
	font-family: 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro', 'メイリオ',
		Meiryo, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
	margin: 0;
}

:root {
	--main-font-color: #393F43;
}

/********** ヘッダー Start **********/
header {
	width: 100%;
	height: 60px;
	background: #9ae0a1;
}

.header-logo {
	display: block;
	text-align: center;
}

header img {
	height: 40px;
	margin-top: 10px;
}

/********** ヘッダー End **********/

/********** スライドショー Start **********/
.slideshow {
	width: 100%;
}
.slideshow #slide {
	width: 100%;
	position: relative;
}

.slideshow #slide img {
	position: absolute;
	height: 450px;
	width: 100%;
	object-fit: cover;
}
.slideshow .mask {
	width: 100%;
	height: 450px;
	top: 0;
	opacity: 0; /* マスクを表示しない */
	background-color: rgba(0, 0, 0, 0.45);
	-webkit-transition: all 0.6s ease;
	transition: all 0.6s ease;
}

/***** 電話番号 Start *****/
.telephone {
	margin-left: 100%;
	color: #fff;
	-webkit-transition: all 0.5s ease;
	transition: all 0.5s ease;
}

.telephone-info {
	text-align: center;

}

.telephone p {
	margin-bottom: 2px;
	margin-top: 0;
	white-space: nowrap;
}
.telephone p:first-of-type {
	padding-top: 10px;
}

.telephone p:nth-of-type(2) {
	font-size: 24px;
	margin-right: 16px;
}

.telephone p:nth-of-type(2)::before {
	font-family: 'Font Awesome 5 Free';
	font-weight: 900;
	content: '\f87b';
	color: #EA9A5D;
	font-size: 28px;
	margin-right: 6px;
}

.slideshow .mask:hover .telephone {
	margin-left: 77%;/* 左にずらす */
}

.slideshow .mask:hover {
	opacity: 1; /* マスクを表示する */
}
/***** 電話番号 End *****/

/***** 診察時間 Start *****/
#schedule-table {
	margin-left: -10%;
	margin-top: 225px;
	color: #fff;
	white-space: nowrap;
	-webkit-transition: all 0.6s ease;
	transition: all 0.6s ease;
}

table {
  border-collapse: collapse;
}
table th, table td {
	padding: 0 8px;
  border-right: solid 1px #fff;
  /*実線 1px 黒*/
}

table td:nth-of-type(7) {
	padding-left: 13px;
}
table td:nth-of-type(8) {
	padding-left: 13px;
}
#schedule-table p {
	margin-left: 100px;
}

.slideshow .mask:hover #schedule-table {
	margin-left: 1%;/* 左にずらす */
}
/***** 診察時間 End *****/

/********** スライドショー End **********/

/********** ナビゲーション Start **********/
.menu {
	display: flex;
	text-align: center;
	justify-content: center;
	padding: 0;
	margin: 55px 0;
}

.menu a {
	text-decoration: none;
	color: #333;
	margin-left: 60px;
}

.menu a:first-of-type {
	margin-left: 0;
}

.fas {
	list-style: none;
	font-size: 40px;
	width: 78px;
	height: 62px;
	background: #C9F0CE;
	border-radius: 50%;
	padding-top: 16px;
	-webkit-transition: all 0.2s ease;
	transition: all 0.1s ease;
}

.menu a p {
	font-size: 14px;
	color: var(--main-font-color);
	font-weight: bold;
	margin-top: 20px;
}

.menu a:hover .fas{
	transform: scale(1.3);
}

.menu a:hover {
	opacity: .8;
}
/********** ナビゲーション End **********/

.home-end {
	background-image: url("../img/leaf1.png");
	height: 16px;
	margin-top: 10px;
}

